{%- from "_snippets.html" import data_not_cached with context -%}
{%- macro data_item(data) -%}
	{%- set len_limit = 10 -%}
	{%- if data|length > len_limit -%}
	<abbr title="{{ data }}">
		{{ data | truncate(len_limit, True, "...", 0) }}
	</abbr>
	{%- else -%}
		{{ data }}
	{%- endif -%}
{%- endmacro -%}
{%- macro data_box(name, source, data_attr) -%}
	<div class="card mb-3 border">
		<div class="card-header">
			{{ name }}
		</div>
		<div class="card-body"></ul>
		{% if source %}
		<table class="table table-borderless table-sm">
		{% for item in source %}
			<tr>
				<td>{{ loop.index }}.</td>
				<td>
					<strong>
						{{ data_item(item[data_attr]) }}
					</strong>
				</td>
				<td>{{ item.count }}</td>
			</tr>
		{% endfor %}
		</table>
		{% else %}
			{{ data_not_cached() }}
		{% endif %}
		</div>
	</div>
{%- endmacro -%}

{%- macro pair_data_box(name, source, data_attr1, data_attr2) -%}
	<div class="card mb-3 border">
		<div class="card-header">
			{{ name }}
		</div>
		<div class="card-body"></ul>
		{% if source %}
		<table class="table table-borderless table-sm">
		{% for item in source %}
			<tr>
				<td>{{ loop.index }}.</td>
				<td>
					<strong>
						{{ data_item(item[data_attr1]) }}
					</strong>
				</td>
				<td>
					<strong>
						{{ data_item(item[data_attr2]) }}
					</strong>
				</td>
				<td>{{ item.count }}</td>
			</tr>
		{% endfor %}
		</table>
		{% else %}
			{{ data_not_cached() }}
		{% endif %}
		</div>
	</div>
{%- endmacro -%}

{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="col">
		{{ data_box("Most evil countries", top_countries, "country") }}
	</div>
	<div class="col">
		{{ data_box("Top passwords", top_passwords, "password") }}
	</div>
	<div class="col">
		{{ data_box("Top usernames", top_usernames, "username") }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ pair_data_box("Top username / password combinations", top_combinations, "username", "password") }}
	</div>
</div>
{% endblock %}
