## .gitignore
#

local.cfg

# Files for packaging
MANIFEST
dist

# Cache files and folders
*.pyc
__pycache__
**/__pycache__
*.egg-info/

# Tests
.pytest_cache
.coverage

# Logs
*.log

# Flask
.env
.venv**
instance/*
!instance/.placeholder

# uwsgi production deployment
/wsgi.py

# passy-specific
/src/pwned/config.py
