{%- from "_snippets.html" import data_box with context -%}
{%- from "_snippets.html" import pair_data_box with context -%}
{%- from "_snippets.html" import map_box with context -%}
{%- from "_snippets.html" import line_box with context -%}
{%- from "_snippets.html" import country_code_item with context -%}
{%- from "_snippets.html" import big_period_buttons with context -%}
{%- from "_snippets.html" import request_missing_resources with context -%}
{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="col mb-4">
		{{ map_box("all_countries_by_attackers_list", "Top countries by unique attackers", resources["all_countries_by_attackers_list"]) }}
	</div>
</div>
<div class="row">
	{{ big_period_buttons(resource_names, periods, active_params) }}
</div>
<div class="row">
	<div class="col">
		{{ line_box("all_attackers_graph", "Number of unique attackers during the time", resources["all_attackers_graph"], "bucket", "count", "Unique IP addresses") }}
	</div>
</div>
<div class="row">
	<div class="col-md">
		{% call(data_item) data_box("top_countries_by_attackers_list_long", "Top countries by unique attackers", resources["top_countries_by_attackers_list_long"], "country") -%}
			{{ country_code_item(data_item) }}
		{%- endcall %}
	</div>
	<div class="col-md">
		{% call(data_item) data_box("top_attackers_by_incidents_list_long", "Top attackers by recorded incidents", resources["top_attackers_by_incidents_list_long"], "ip") -%}
			<a href="{{ url_for("statistics.attacker_details", ip=data_item) }}">
				{{ data_item }}
			</a>
		{%- endcall %}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ line_box(
			"top_countries_by_attackers_graph",
			"Top countries by unique attackers",
			resources["top_countries_by_attackers_graph"]["data"],
			"bucket",
			resources["top_countries_by_attackers_graph"]["ykeys"],
			resources["top_countries_by_attackers_graph"]["labels"]
		) }}
	</div>
</div>
{{ request_missing_resources(resource_names, resources, active_params) }}
{% endblock %}
