{%- from "_snippets.html" import data_box with context -%}
{%- from "_snippets.html" import pair_data_box with context -%}
{%- from "_snippets.html" import button_line_box with context -%}
{%- from "_snippets.html" import line_box with context -%}
{%- from "_snippets.html" import country_code_item with context -%}
{%- from "_snippets.html" import request_missing_resources with context -%}
{% extends "layout.html" %}
{% block body %}
<h1 class="mb-3">{{ active_params["ip"] }}</h1>
<p>
    <a href="https://client.rdap.org/?type=ip&object={{ active_params["ip"] }}" target="rdap" rel="nofollow noreferrer">
        Lookup for IP address details<sup><i class="fas fa-external-link-alt fa-xs ml-1"></i></sup>
    </a>
</p>
<div class="row">
    <div class="col">
        {{ button_line_box("selected_attacker_incidents_graph", "Attacker activity", periods,
        active_params, resources["selected_attacker_incidents_graph"], "bucket", "count", "Events")
        }}
    </div>
</div>
{{ request_missing_resources(resource_names, resources, active_params) }}
{% endblock %}
