{%- from "_snippets.html" import data_box with context -%}
{%- from "_snippets.html" import pair_data_box with context -%}
{%- from "_snippets.html" import map_box with context -%}
{%- from "_snippets.html" import line_box with context -%}
{%- from "_snippets.html" import country_code_item with context -%}
{%- from "_snippets.html" import big_period_buttons with context -%}
{%- from "_snippets.html" import request_missing_resources with context -%}
{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="col mb-4">
		{{ map_box("all_countries_by_incidents_list", "Countries by incidents", resources["all_countries_by_incidents_list"]) }}
	</div>
</div>
<div class="row">
	{{ big_period_buttons(resource_names, periods, active_params) }}
</div>
<div class="row">
	<div class="col">
		{{ line_box("all_attackers_graph", "Number of unique attackers during the time", resources["all_attackers_graph"], "bucket", "count", "Unique IP addresses") }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ line_box("all_incidents_graph", "Number of recorded incidents during the time", resources["all_incidents_graph"], "bucket", "count", "Incidents") }}
	</div>
</div>
<div class="row">
	<div class="col-md">
		{% call(data_item) data_box("top_countries_by_incidents_list", "Top countries by recorded incidents", resources["top_countries_by_incidents_list"], "country") -%}
			{{ country_code_item(data_item) }}
		{%- endcall %}
	</div>
	<div class="col-md">
		{% call(data_item) data_box("top_passwords_by_usages_list", "Most abused passwords", resources["top_passwords_by_usages_list"], "password") %}
			<a href="{{ url_for("statistics.password_details", encoded_password=data_item|b64, period=active_params['period']) }}">
				{{ data_item }}
			</a>
		{% endcall %}
	</div>
</div>
{{ request_missing_resources(resource_names, resources, active_params) }}
{% endblock %}
