{%- from "_snippets.html" import data_box with context -%}
{%- from "_snippets.html" import pair_data_box with context -%}
{%- from "_snippets.html" import map_box with context -%}
{%- from "_snippets.html" import line_box with context -%}
{%- from "_snippets.html" import country_code_item with context -%}
{%- from "_snippets.html" import big_period_buttons with context -%}
{%- from "_snippets.html" import request_missing_resources with context -%}
{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="col" >
		<div class="card mb-4 shadow-sm">
			<div class="card-body">
				<h5 class="card-title">My devices</h5>
				<table class="table table-borderless mb-0">
					<tbody>
						<tr class="{{'border-bottom' if session['devices'] }}">
							<form action="/api/device/add" method="post">
								<td>
									<label for="inputDeviceToken" class="sr-only">Device Token</label>
									<input type="text" class="form-control" name="device_token" id="inputDeviceToken" placeholder="Device token" required pattern="^[a-z0-9]*$" minlength="64" maxlength="64" aria-describedby="inputDeviceTokenHelp" autofocus>
									<small id="inputDeviceTokenHelp" class="form-text text-muted">
										Your device token must be 64 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
									</small>
								</td>
								<td class="text-right">
									<button type="submit" class="btn btn-outline-success mb-2 btn-block">Add<span class="d-none d-lg-inline"> device</span></button>
								</td>
							</form>
						</tr>
						{% for device_token in session["devices"] %}
						<tr>
							<form action="/api/device/delete" method="post">
								<td>
									<div class="input-group">
									<label for="inputDeviceToken" class="sr-only">Device Token</label>
									<input type="text" class="form-control " name="device_token" id="inputDeviceToken" placeholder={{ device_token }} value={{ device_token }} readonly>
									</div>
								</td>
								<td class="text-right">
									<button type="submit" class="btn btn-outline-danger btn-block">Remove<span class="d-none d-lg-inline"> device</span></button>
								</td>
							</form>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	{{ big_period_buttons(resource_names, periods, active_params) }}
</div>
<div class="row">
	<div class="col">
		{{ line_box("my_all_incidents_graph", "All incidents recorded on my devices", resources["my_all_incidents_graph"], "bucket", "count", "Incidents") }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ line_box("my_top_traps_by_incidents_graph", "Incidents by source recorded on my devices", resources["my_top_traps_by_incidents_graph"], "bucket", "count", "Incidents") }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ line_box("my_top_countries_by_incidents_graph", "Incidents by country recorded on my devices", resources["my_top_countries_by_incidents_graph"], "bucket", "count", "Incidents") }}
	</div>
</div>
{{ request_missing_resources(resource_names, resources, active_params) }}
{% endblock %}
