{%- from "_snippets.html" import await_job with context -%}
{%- from "_snippets.html" import data_box with context -%}
{%- from "_snippets.html" import pair_data_box with context -%}
{%- from "_snippets.html" import map_box with context -%}
{%- from "_snippets.html" import line_box with context -%}
{%- from "_snippets.html" import country_code_item with context -%}
{%- from "_snippets.html" import big_period_buttons with context -%}
{%- from "_snippets.html" import request_missing_resources with context -%}
{% extends "layout.html" %}
{% block body %}
<h1 class="mb-3">{{ active_params["password"] }}</h1>
<div class="row">
    {{ big_period_buttons(resource_names, periods, active_params) }}
</div>
<div class="row">
    <div class="col">
        {{ line_box("selected_password_by_usages_graph", "Password usage during the time",
        resources["selected_password_by_usages_graph"], "day", "count", "IPs") }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ data_box("logins_of_password_by_usages_list", "Password's top usernames",
        resources["logins_of_password_by_usages_list"], "username") }}
    </div>
</div>
{{ request_missing_resources(resource_names, resources, active_params) }}
{% endblock %}
