{%- macro nav_link(endpoint, text, target_blank=False, period_dependant=True, dropdown=True) -%}
	{%- if request.endpoint.split(".")[1] == endpoint.split(".")[1] %}
		{%- set active = " active" %}
	{%- elif endpoint.split(".")[1][:-1] in request.endpoint.split(".")[1] %}
		{%- set active = " active" %}
	{%- else %}
		{%- set active = "" %}
	{%- endif %}
{%- if dropdown %}
<a class="dropdown-item{{ active }}{% if period_dependant %} period_dependant_link{% endif %}"
            href={% if period_dependant and active_params is defined %}"{{ url_for(endpoint, period=active_params['period']) }}"{% else %}"{{ url_for(endpoint) }}"{% endif %}>
            {{ text }}
</a>
{%- else %}
<li class="nav-item">
    <a class="nav-link{{ active }}{% if period_dependant %} period_dependant_link{% endif %}"
            {%- if target_blank %}target="_blank"{%- endif %}
            href={% if period_dependant and active_params is defined %}"{{ url_for(endpoint, period=active_params['period']) }}"{% else %}"{{ url_for(endpoint) }}"{% endif %}>
            {{ text }}
            {%- if target_blank %}<sup><i class="fas fa-external-link-alt fa-xs ml-1"></i></sup>{%- endif %}
    </a>
</li>
{%- endif %}
{%- endmacro -%}

{%- macro common_form(form, target, submit_caption, file=False) -%}
<form method="post" action="{{ target }}" class="form-vertical"{% if file %} enctype="multipart/form-data"{% endif %}>
	{% for field in form %}
		{% if field.name == "csrf_token" -%}
		{{ field() }}
		{% elif field.type == "BooleanField" -%}
		<div class="form-group form-check">
			{{ field(class="form-check-input") }}
			{{ field.label(class="form-check-label") }}
		</div>
		{%- else -%}
		<div class="form-group">
			{{ field.label() }}
			{{ field(class="form-control") }}
		</div>
		{% endif -%}
	{% endfor %}
		<button type="submit" class="btn btn-primary btn-lg">
			{{ submit_caption }}
		</button>
</form>
{%- endmacro -%}

{%- macro nav_dropdown_item(name, items) -%}
<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
	{{ name }} </a>
	<div class="dropdown-menu">
		{% for navitem in items %}
		{{ navitem }}
		{% endfor -%}
	</div>
</li>
{%- endmacro -%}

{%- macro accordion_item(heading, content, meta_name, data_parent, collapsed=True) -%}
<div class="card">
	<div class="card-header" id="heading{{ meta_name }}">
		<h2 class="mb-0">
		<button class="btn btn-link btn-block text-left{% if collapsed %} collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse{{ meta_name }}" aria-expanded="true" aria-controls="collapseOne">
			{{ heading }}
		</button>
		</h2>
	</div>
	<div id="collapse{{ meta_name }}" class="collapse show" aria-labelledby="heading{{ meta_name}}" data-parent="#{{ data_parent }}">
		<div class="card-body">
		{{ content|safe }}
		</div>
	</div>
</div>
{%- endmacro -%}