{%- macro nav_link(endpoint, text, target_blank=False) -%}
	{%- if request.endpoint.split(".")[1] == endpoint.split(".")[1] %}
		{%- set active = " active" %}
	{%- elif endpoint.split(".")[1][:-1] in request.endpoint.split(".")[1] %}
		{%- set active = " active" %}
	{%- else %}
		{%- set active = "" %}
	{%- endif %}
						<li class="nav-item">
							<a class="nav-link{{ active }}" {%- if target_blank %} target="_blank" {%- endif %} href="{{ url_for(endpoint) }}">
								{{ text }}{%- if target_blank %}<sup><i class="fas fa-external-link-alt fa-xs ml-1"></i></sup>{%- endif %}
							</a>
						</li>
{%- endmacro -%}
{%- macro common_form(form, target, submit_caption, file=False) -%}
<form method="post" action="{{ target }}" class="form-vertical"{% if file %} enctype="multipart/form-data"{% endif %}>
	{% for field in form %}
		{% if field.name == "csrf_token" -%}
		{{ field() }}
		{% elif field.type == "BooleanField" -%}
		<div class="form-group form-check">
			{{ field(class="form-check-input") }}
			{{ field.label(class="form-check-label") }}
		</div>
		{%- else -%}
		<div class="form-group">
			{{ field.label() }}
			{{ field(class="form-control") }}
		</div>
		{% endif -%}
	{% endfor %}
		<button type="submit" class="btn btn-primary btn-lg">
			{{ submit_caption }}
		</button>
</form>
{%- endmacro -%}
