{%- macro js_required() -%}
	<noscript>
		<div style="display:flex;height:70px;width:100%;align-items:center;justify-content:center">
			<strong>Javasript required to display this feature.</strong>
		</div>
	</noscript>
{%- endmacro -%}

{%- macro no_data_infobox(source) -%}
	<div style="display:flex;height:70px;width:100%;align-items:center;justify-content:center">
		<strong>
			{%- if source is none or source is undefined -%}
				{{ data_not_cached() }}
			{%- else -%}
				{{ empty_period() }}
			{%- endif -%}
		</strong>
	</div>
{%- endmacro -%}

{%- macro data_not_cached() -%}
	<noscript>
		{{ _("Data source is being cached. Try it later please.") }}
	</noscript>
{%- endmacro -%}

{%- macro empty_period() -%}
	{{ _("No data available from this period.") }}
{%- endmacro -%}

{%- macro data_item(data) -%}
	{%- set len_limit = 14 -%}
	{%- if data|length > len_limit -%}
	<abbr title="{{ data }}">
		{{ data | truncate(len_limit, True, "...", 0) }}
	</abbr>
	{%- else -%}
		{{ data }}
	{%- endif -%}
{%- endmacro -%}
{%- macro country_code_flag(cc) -%}
	<span class="flag-icon flag-icon-{{ cc|lower }}"></span>
{%- endmacro -%}

{%- macro country_code_item(data) -%}
	{{ country_code_flag(data) }}&nbsp;&nbsp;<abbr title="{{data|uncc}}">{{ data }}</abbr>
{%- endmacro -%}

{%- macro spinner_overlay(id) -%}
	<div id="{{ id }}" class="sview-overlay">
		<div class="w-100 d-flex justify-content-center align-items-center">
			<div class="sview-spinner"></div>
		</div>
	</div>
{%- endmacro -%}

{%- macro data_box(id, name, source, data_attr) -%}
	<div class="card mb-4 shadow-sm">
		<div class="card-body">
			<h5 class="card-title">{{ name }}</h5>
			{{ spinner_overlay("spinner-{}".format(id)) }}
			<div id="{{ id }}" class="table-responsive">
			{% if source %}
				<table class="table table-borderless table-sm table-hover mb-0">
				{% for item in source %}
					<tr>
						<td>{{ loop.index }}.</td>
						<td>
							<strong>
								{% if caller %}{{ caller(item[data_attr]) }}{% else %}{{ data_item(item[data_attr]) }}{% endif %}
							</strong>
						</td>
						<td>{{ item.count }}</td>
					</tr>
				{% endfor %}
				</table>
			{% else %}
				{{ no_data_infobox(source) }}
			{% endif %}
			</div>
		</div>
	</div>
{%- endmacro -%}

{%- macro pair_data_box(id, name, source, data_attr1, data_attr2) -%}
	<div class="card mb-4 shadow-sm">
		<div class="card-body">
			<h5 class="card-title">{{ name }}</h5>
			{{ spinner_overlay("spinner-{}".format(id)) }}
			<div id="{{ id }}" class="table-responsive">
				{% if source %}
					<table class="table table-borderless table-sm table-hover mb-0">
						{% for item in source %}
							<tr>
								<td>{{ loop.index }}.</td>
								<td>
									<strong>
										{{ data_item(item[data_attr1]) }}
									</strong>
								</td>
								<td>
									<strong>
										{{ data_item(item[data_attr2]) }}
									</strong>
								</td>
								<td>{{ item.count }}</td>
							</tr>
						{% endfor %}
					</table>
				{% else %}
					{{ no_data_infobox(source) }}
				{% endif %}
			</div>
		</div>
	</div>
{%- endmacro -%}

{%- macro map_box(id, name, source) -%}
	<div id="{{ id }}" class="js-required world-map" style="position: relative; width: 900; height: 300px;"></div>
		{{ spinner_overlay("spinner-{}".format(id)) }}
		{{ js_required() }}
		{% if source %}
			<script type="text/javascript">
				let scores = {{ source|tojson }};
				draw_map("#{{ id }}", scores);
			</script>
		{% else %}
			<script type="text/javascript">
				draw_map("#{{ id }}", {});
			</script>
		{% endif %}
{%- endmacro -%}

{%- macro line_box(id, name, source, xkey, ykey, label) -%}
	<div class="card mb-4 shadow-sm">
		<div class="card-body">
			<h5 class="card-title">{{ name }}</h5>
			<div class="js-required">
				{{ spinner_overlay("spinner-{}".format(id)) }}
				<div id="{{ id }}">
					{% if source %}
						{{ morris_line(id, source, xkey, ykey, label) }}
					{% else %}
						{{ no_data_infobox(source) }}
					{% endif %}
				</div>
			</div>
			{{ js_required() }}
		</div>
	</div>
{%- endmacro -%}

{%- macro button_line_box(id, name, periods, params, source, xkey, ykey, label) -%}
	<div class="card mb-4 shadow-sm">
		<div class="card-body">
			<h5 class="card-title">{{ name }}</h5>
			<div class="js-required">
				{{ spinner_overlay("spinner-{}".format(id)) }}
				{{ graph_period_buttons(id, periods, params) }}
				<div id="{{ id }}">
					{% if source %}
						{{ morris_line(id, source, xkey, ykey, label) }}
					{% else %}
						{{ no_data_infobox(source) }}
					{% endif %}
			</div>
		</div>
	</div>
{%- endmacro -%}

{%- macro morris_line(id, source, xkey, ykey, label) -%}
	<script type="text/javascript">
		create_graph(
			'{{ id }}',
			'{{ xkey }}',
			{%- if ykey is string %}
				['{{ ykey }}'],
			{%- else %}
				{{ ykey|tojson }},
			{% endif %}
			{%- if label is string %}
				['{{ label }}'],
			{%- else %}
				{{ label|tojson }},
			{% endif %}
			{{ source|tojson }}
		);
	</script>
{%- endmacro -%}

{%- macro big_period_buttons(resource_names, periods, active_params) -%}
	<div class="col">
		<div class="btn-group-toggle pb-4 d-flex flex-row justify-content-center flex-wrap align-items-center" data-toggle="buttons">
{%		for period, period_params in periods.items() %}
				<label class="btn btn-outline-secondary btn js-required m-1" style="width: 150px;">
					<input type="radio" name="options" autocomplete="off"
{%					if period==active_params["period"] %}
							checked
{%					endif %}
						onclick='process_new_settings(
							"{{ url_for("api.get_resource_view") }}",
							{{ resource_names|tojson }},
							Object.assign(
								{{ active_params|tojson }},
								{"period": "{{ period }}"}  // Override active period passed via active params
							)
						)'
					>
					{{ period_params["label"] }}
				</label>
				<noscript>
{%				if period==active_params["period"] %}
						<a href="?period={{ period }}" class="btn btn-secondary" name="options" autocomplete="off">
{%				else %}
						<a href="?period={{ period }}" class="btn btn-outline-secondary" name="options" autocomplete="off">
{%				endif %}
					{{ period_params["label"] }}
					</a>
				</noscript>
{%		endfor %}
		</div>
	</div>
{%- endmacro -%}

{%- macro graph_period_buttons(resource_name, periods, active_params) -%}
			<div class="container">
				<div class="row justify-content-end">
					<div class="m-auto mr-md-4">
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
{%					for period in periods %}
							<label class="btn btn-outline-secondary btn-sm">
								<input type="radio" name="options" autocomplete="off"
{%								if period==active_params["period"] %}
										checked
{%								endif %}
									onclick='process_new_settings(
										"{{ url_for("api.get_resource_view") }}",
										["{{ resource_name }}"],
										Object.assign(
											{{ active_params|tojson }},
											{"period": "{{ period }}"}  // Override active period passed via active params
										)
									)'
								> {{ period }}
							</label>
{%					endfor %}
						</div>
					</div>
				</div>
			</div>
{%- endmacro -%}

{%- macro request_missing_resources(resource_names, resources, params) -%}
	<script>
		request_missing_resources(
			{{ resource_names|tojson }},
			{{resources|tojson}},
			"{{ url_for("api.get_resource_view") }}",
			{{params|tojson}}
		)
	</script>
{%- endmacro -%}
