{%- macro data_not_cached() -%}
<p>
	{{ _("Data source is being cached. Try it later please.") }}
</p>
{%- endmacro -%}
{%- macro data_item(data) -%}
	{%- set len_limit = 10 -%}
	{%- if data|length > len_limit -%}
	<abbr title="{{ data }}">
		{{ data | truncate(len_limit, True, "...", 0) }}
	</abbr>
	{%- else -%}
		{{ data }}
	{%- endif -%}
{%- endmacro -%}
{%- macro country_code_flag(cc) -%}
	<span class="flag-icon flag-icon-{{ cc|lower }}"></span>
{%- endmacro -%}
{%- macro country_code_item(data) -%}
	{{ country_code_flag(data) }}&nbsp;&nbsp;<abbr title="{{data|uncc}}">{{ data }}</abbr>
{%- endmacro -%}
{%- macro data_box(name, source, data_attr) -%}
	<div class="card mb-3 border">
		<div class="card-header">
			{{ name }}
		</div>
		<div class="card-body"></ul>
		{% if source %}
		<table class="table table-borderless table-sm">
		{% for item in source %}
			<tr>
				<td>{{ loop.index }}.</td>
				<td>
					<strong>
						{% if caller %}{{ caller(item[data_attr]) }}{% else %}{{ data_item(item[data_attr]) }}{% endif %}
					</strong>
				</td>
				<td>{{ item.count }}</td>
			</tr>
		{% endfor %}
		</table>
		{% else %}
			{{ data_not_cached() }}
		{% endif %}
		</div>
	</div>
{%- endmacro -%}
{%- macro pair_data_box(name, source, data_attr1, data_attr2) -%}
	<div class="card mb-3 border">
		<div class="card-header">
			{{ name }}
		</div>
		<div class="card-body"></ul>
		{% if source %}
		<table class="table table-borderless table-sm">
		{% for item in source %}
			<tr>
				<td>{{ loop.index }}.</td>
				<td>
					<strong>
						{{ data_item(item[data_attr1]) }}
					</strong>
				</td>
				<td>
					<strong>
						{{ data_item(item[data_attr2]) }}
					</strong>
				</td>
				<td>{{ item.count }}</td>
			</tr>
		{% endfor %}
		</table>
		{% else %}
			{{ data_not_cached() }}
		{% endif %}
		</div>
	</div>
{%- endmacro -%}
{%- macro map_box(id, name, source) -%}
		{% if source %}
			<div id="{{ id }}" style="position: relative; width: 900; height: 300px;"></div>
			<script type="text/javascript">
				let scores = {{ source|tojson }};
				draw_map("#{{ id }}", scores);
			</script>
		{% else %}
			{{ data_not_cached() }}
		{% endif %}
{%- endmacro -%}
{%- macro line_box(id, name, source, xkey, ykey, label) -%}
	<div class="card mb-3 border">
		<div class="card-header">
			{{ name }}
		</div>
		<div class="card-body"></ul>
			<div id="{{ id }}"></div>
					{% if source %}
						{{ morris_line(id, source, xkey, ykey, label) }}
					{% else %}
						{{ data_not_cached() }}
					{% endif %}
		</div>
	</div>
{%- endmacro -%}

{%- macro morris_line(id, source, xkey, ykey, label) -%}
	<script type="text/javascript">
		create_graph(
			'{{ id }}',
			'{{ xkey }}',
			{%- if ykey is string %}
				['{{ ykey }}'],
			{%- else %}
				{{ ykey|tojson }},
			{% endif %}
			{%- if label is string %}
				['{{ label }}'],
			{%- else %}
				{{ label|tojson }},
			{% endif %}
			{{ source|tojson }}
		);
	</script>
{%- endmacro -%}

{%- macro await_job(job_id) -%}
	{% if job_id %}
	<div id="await_job_alert" class="alert alert-danger d-none" role="alert"></div>
	<div id="await_job_spinner" class="d-block">
		<div id="await_job_spinner_spinner" class="spinner-border text-primary" role="status">
			<span class="sr-only">Loading...</span>
		</div>
		<span id="await_job_status">
			Please, wait for data being loaded...
		</span>
	</div>
	<script type="text/javascript">
		await_job("{{ url_for("api.await_job") }}", "{{ job_id }}");
	</script>
	{% else %}
		{{ caller() }}
	{% endif %}
{%- endmacro -%}
