{%- from "_macros.html" import nav_link with context -%}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{% if page_title %}{{ page_title }} &verbar; {% endif %}Sentinel:view</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="{{ url_for("static", filename="favicon.svg") }}">
		<link rel="icon" type="image/png" href="{{ url_for("static", filename="favicon.png") }}">
		<link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}" />
		<link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="css/dark-mode.css") }}" />
		<link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="css/all.min.css") }}" />
		<link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="jvectormap/jquery-jvectormap.css") }}" />
		<link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="css/morris.css") }}" />
		<link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="css/flag-icon.min.css") }}" />
		<link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="css/fontawesome.min.css") }}" />
		<link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="css/sview.css")| autoversion }}" />
		<script type="text/javascript" src="{{ url_for("static", filename="js/jquery.min.js") }}"></script>
		<script type="text/javascript" src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>
		<script type="text/javascript" src="{{ url_for("static", filename="jvectormap/jquery-jvectormap.min.js") }}"></script>
		<script type="text/javascript" src="{{ url_for("static", filename="jvectormap/jquery-jvectormap-world-mill.js") }}"></script>
		<script type="text/javascript" src="{{ url_for("static", filename="js/raphael.min.js") }}"></script>
		<script type="text/javascript" src="{{ url_for("static", filename="js/morris.min.js") }}"></script>
		<script type="text/javascript" src="{{ url_for("static", filename="js/sview.js") | autoversion }}"></script>
		<noscript>
			<style type="text/css">
				.js-required {display:none;}
			</style>
		</noscript>
	</head>
	<body>
	<header class="mb-3">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm fixed-top">
			<div class="container">
				<a class="navbar-brand" href="{{ url_for("statistics.dashboard") }}">
					Sentinel:view
				</a>
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="main-menu">
					<ul class="navbar-nav">
						{{ nav_link("statistics.dashboard", _("Home")) }}
						{{ nav_link("statistics.incidents", _("Incidents")) }}
						{{ nav_link("statistics.attackers", _("Attackers")) }}
						{{ nav_link("statistics.passwords", _("Passwords")) }}
						{{ nav_link("statistics.ports", _("Ports")) }}
						{{ nav_link("statistics.devices", _("My Devices")) }}
						{{ nav_link("web.greylist", _("Greylist"), target_blank=True) }}
					</ul>
					<div class="custom-control custom-switch ml-auto">
						<input type="checkbox" class="custom-control-input" id="darkSwitch" />
						<label class="custom-control-label text-light" for="darkSwitch">Dark mode</label>
					</div>
					<script type="text/javascript" src="{{ url_for("static", filename="js/dark-mode-switch.js") }}"></script>
				</div>
			</div>
			</nav>
	</header>
	<main class="container">
			{%- with messages = get_flashed_messages(with_categories=True) %}
				{%- if messages %}
					{%- for category, message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
							{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{%- endfor %}
				{%- endif %}
			{%- endwith %}
			{%- if breadcrumbs|length > 1 %}
			<nav class="mb-4" aria-label="breadcrumb">
				<ol class="breadcrumb">
					{%- for breadcrumb in breadcrumbs -%}
						{%- if loop.last %}
						<li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
						{%- else %}
						<li class="breadcrumb-item">
							<a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
						</li>
						{%- endif %}
					</li>
					{%- endfor -%}
				</ol>
			</nav>
			{%- endif %}
			{%- block body %}{% endblock %}
	</main>
		{%- block body_end %}{% endblock %}
	</body>
</html>
