<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Greylist data placeholder</title>
		<style>
			body {
				width: 35em;
				margin: 0 auto;
				font-family: Arial, Helvetica, sans-serif;
			}
			.mono {
				font-family: monospace;
			}
		</style>
	</head>
	<body>
		<h1>Greylist data</h1>
		<p>This is just a placeholder page for development purpose.</p>
		<p>You should not see this page in production. Please, report this
		error to the administrator.</p>
		<hr />
		<p>This directory must be filled with DynFW:Snapshoter and served
		through webserver on production.</p>
		<p>No real content is available here.</p>
		<ul class="mono">
			<li>archive/</li>
			<ul>
				<li>2020/</li>
				<ul>
					<li>greylist-2020-01-15.csv</li>
					<li>greylist-2020-01-16.csv</li>
					<li>greylist-2020-01-17.csv</li>
				</ul>
			</ul>
			<li>greylist-latest.csv</li>
		</ul>
	</body>
</html>
