{%- from "_snippets.html" import data_box with context -%}
{%- from "_snippets.html" import pair_data_box with context -%}
{%- from "_snippets.html" import map_box with context -%}
{%- from "_snippets.html" import line_box with context -%}
{%- from "_snippets.html" import country_code_item with context -%}
{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="col-lg-12 pb-3" align="center">
		{{ map_box("world_map", "Most evil countries", map_scores) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ line_box("attackers_trends", "Attackers by country trends", attackers_trends.data, "day", attackers_trends.ykeys, attackers_trends.labels) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{% call(data_item) data_box("Most evil countries", top_countries_long, "country") -%}
			{{ country_code_item(data_item) }}
		{%- endcall %}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ data_box("Most evil IP addresses", top_ips_long, "ip") }}
	</div>
</div>
{% endblock %}
