{%- from "_snippets.html" import data_box with context -%}
{%- from "_snippets.html" import pair_data_box with context -%}
{%- from "_snippets.html" import map_box with context -%}
{%- from "_snippets.html" import line_box with context -%}
{%- from "_snippets.html" import country_code_item with context -%}
{%- from "_snippets.html" import big_period_buttons with context -%}
{%- from "_snippets.html" import request_missing_resources with context -%}
{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="col-lg-12 pb-3" align="center">
		{{ map_box("map_scores", "Most evil countries", resources["map_scores"]) }}
	</div>
</div>
<div class="row">
	{{ big_period_buttons(resource_names, periods, active_params) }}
</div>
<div class="row">
	<div class="col">
		{{ line_box(
			"attackers_trends",
			"Attackers by country trends",
			resources["attackers_trends"]["data"],
			"day",
			resources["attackers_trends"]["ykeys"],
			resources["attackers_trends"]["labels"]
		) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{% call(data_item) data_box("top_countries_long", "Most evil countries", resources["top_countries_long"], "country") -%}
			{{ country_code_item(data_item) }}
		{%- endcall %}
	</div>
</div>
<div class="row">
	<div class="col">
		{% call(data_item) data_box("top_ips_long", "Most evil IP addresses", resources["top_ips_long"], "ip") -%}
			<a href="{{ url_for("attackers.ip_details", ip=data_item) }}">
				{{ data_item }}
			</a>
		{%- endcall %}
	</div>
</div>
{{ request_missing_resources(resource_names, resources, active_params) }}
{% endblock %}
