{%- from "_snippets.html" import await_job with context -%}
{%- from "_snippets.html" import data_box with context -%}
{%- from "_snippets.html" import pair_data_box with context -%}
{%- from "_snippets.html" import map_box with context -%}
{%- from "_snippets.html" import line_box with context -%}
{%- from "_snippets.html" import country_code_item with context -%}
{% extends "layout.html" %}
{% block body %}
<h1 class="display-4">{{ password }}</h1>
{% call await_job(job_id) %}
	<div class="row">
		<div class="col-lg-12 pb-3" align="center">
			{{ line_box("password_in_time", "Password usage during the time", data.password_during_time, "day", "count", "IPs") }}
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 pb-3" align="center">
			{{ data_box("Password's top usernames", data.passwords_logins, "username") }}
		</div>
	</div>
{% endcall %}
{% endblock %}
