[data-theme="dark"] {
    color: rgb(209, 205, 199);
    background-color: rgb(24, 26, 27);
}

[data-theme="dark"] .bg-light {
    background-color: #444;
}

[data-theme="dark"] .bg-white {
    background-color: #000;
}

[data-theme="dark"] .bg-black {
    background-color: #eee;
}

[data-theme="dark"] .card {
    color: #bebebe;
    background-color: #181818;
    border-color: #404040;
}

[data-theme="dark"] .card-header,
[data-theme="dark"] .card-footer {
    color: #bebebe;
    background-color: #202020;
    border-top-color: #404040;
    border-bottom-color: #404040;
}

[data-theme="dark"] .table {
    color: #bebebe;
}

[data-theme="dark"] .table-hover tbody tr:hover {
    color: #bebebe;
}

[data-theme="dark"] .form-control {
    color: rgb(181, 175, 166);
    background-color: rgb(24, 26, 27);
    border-color: rgb(60, 65, 68);
}

[data-theme="dark"] .border-bottom {
    border-bottom-color: rgb(56, 61, 63) !important;
}

[data-theme="dark"] .morris-hover.morris-default-style {
    color: rgb(168, 160, 149);
    background-image: initial;
    background-color: rgba(24, 26, 27, 0.8);
    border-color: rgba(55, 60, 62, 0.8);
}

[data-theme="dark"] .bg-dark {
    background-color: rgb(44, 47, 49) !important;
}

[data-theme="dark"] circle {
    stroke: rgb(0 0 0 / 8%) !important;
}

[data-theme="dark"]
    .custom-switch
    .custom-control-input:checked
    ~ .custom-control-label::after {
    background-color: rgb(24, 26, 27);
}

[data-theme="dark"] .btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
    color: rgb(232, 230, 227);
    background-color: rgb(88, 95, 99);
    border-color: #495057;
}

[data-theme="dark"] .breadcrumb {
    list-style-image: initial;
    background-color: rgb(35, 38, 39);
}

[data-theme="dark"] #goTop {
    background-color: rgb(88 95 99);
}

[data-theme="dark"] .list-group-item-light {
    color: #bbbbbb;
    background-color: #4f4f4f;
}

[data-theme="dark"] .list-group-item-light.list-group-item-action:hover, .list-group-item-light.list-group-item-action:focus {
    color: #bbbbbb;
    background-color: #474747;
}

[data-theme="dark"] .list-group-item-success {
    color: #4dd0af;
    background-color: #005e46;
}

[data-theme="dark"] .list-group-item-success.list-group-item-action:hover, .list-group-item-success.list-group-item-action:focus {
    color: #4dd0af;
    background-color: #00553f;
}

[data-theme="dark"] .list-group-item-danger {
    color: #ee8277;
    background-color: #74261e;
}

[data-theme="dark"] .list-group-item-danger.list-group-item-action:hover, .list-group-item-danger.list-group-item-action:focus {
    color: #ee8277;
    background-color: #68221b;
}

[data-theme="dark"] .list-group-item-warning {
    color: #f7ba59;
    background-color: #7a4e09;
}

[data-theme="dark"] .list-group-item-warning.list-group-item-action:hover, .list-group-item-warning.list-group-item-action:focus {
    color: #f7ba59;
    background-color: #6e4608;
}

[data-theme="dark"] .table-hover tbody tr:hover {
    background-color: rgb(255 255 255 / 4%);
}